<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>harsitg-001-site1.htempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>https://harsitg-001-site1.htempurl.com:8172/MsDeploy.axd?site=harsitg-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>harsitg-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\harsitg-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ContactBookEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL7001.site4now.net;Initial Catalog=DB_A399F0_ContactBook;User ID=DB_A399F0_ContactBook_admin;Password=Mani@0210" Name="Data Source=SQL7001.site4now.net;Initial Catalog=DB_A399F0_ContactBook;User Id=DB_A399F0_ContactBook_admin;Password=Mani@0210;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ContactBookProject.Models.ContactBookEntities, ContactBookProject" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ContactBookEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ContactBook.csdl|res://*/Models.ContactBook.ssdl|res://*/Models.ContactBook.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL7001.site4now.net;Initial Catalog=DB_A399F0_ContactBook;User Id=DB_A399F0_ContactBook_admin;Password=Mani@0210;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>